body{
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
}
header{
    text-align: left;
    font-size: 28px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h1{
    margin: 0px;
    padding: 0px;
}
h2{
    margin-top: 5px;
    margin-bottom: 40px;
    text-align: center;
}
.form-label{
    text-align: center;
    margin: 5px;
}
.form-textfield{
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 10px;
    text-indent: 5px;
}
.form-group{
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    width: 22%;
    display: inline-block;
}
.submit-button{
    background-color: #cccccc;
    padding: 15px 32PX;
    text-align: center;
    display: block;
    border: 5px black solid;
    border-radius: 20px;
    font-size: 16px;
    position: absolute;
    margin-top:20px;
    margin-left: 10px;
    font-weight: bold;
}
.submit-button:hover{
    border: 5px darkcyan solid;
    background-color: orange;
    color: white;
    font-weight: bold;
}
.submit-button:active{
    color: yellow;
}
#session-settings{
    background-color: cyan;
}
#deepBot-settings{
    background-color: chartreuse;
}
#twitch-settings{
    background-color: yellow;
}
#twitter-settings{
    background-color: red;
}