body{
    font-family: 'Arial', sans-serif;
    margin-left: 5%;
}
header{
    margin-top: 20px;
	text-align: left;
    font-size: 14px;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
h1{
    margin: 0px;
    padding: 5px;
	color: #ff80b3;
}
h2{
    margin: 5px;
	margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
}
footer{
    margin-top: 45px;
    text-align: center;
}
#command-header{
    text-align: center;
    display: block;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
    margin-left: 0px;
}
.command{
    padding-bottom: 10px;
    display: block;
}
#command1, #command2{
    border-bottom: solid 1px black;
}
.command-list{
    position: relative;
    left: 20%;
    right: 20%;
    width: 60%;
}
.command-description{
    display: block;
}
.command-name{
    text-align: center;
    display: block;
    margin-left: 0px;
}
.button-container{
    position: relative;
    left: 20%;
    right: 20%;
    width: 60%;
}
#close-button, #restart-button, #donate-button{
    text-align: center;
    position: relative;
    margin: 1%;
    width: 30%;
    display: inline-block;
    position: relative;
    margin-left: 3px;
}
.donation-pitch{
    position: relative;
    text-align: center;
    left: 20%;
    right: 20%;
    width: 60%;
}
.form-label{
    text-align: left;
    margin: 5px;
    font-size: 14px;
	padding: 0px;
}
.form-textfield{
    font-size: 12px;
	border-style: solid;
    border-width: 1px;
	border-radius: 0px;
    height: 30px;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
    text-indent: 5px;
}
.form-group{
    border-style: solid;
 	border-width: 1px;
	border-radius: 0px;
    padding: 5px;
    width: 66%;
	display: block;
}
.button{
	background-color: white;
	padding: 10px 32PX;
	text-align: center;
	display: block;
	border: 1px black solid;
	border-radius: 0px;
	font-size: 12px;
	position: static;
	margin-top: 20px;
	margin-left: 0px;
	font-weight: bold;
	left: 0px;
	top: 0px;
}
.button:hover{
    border: 1px black solid;
    background-color: #3399ff;
    color: black;
    font-weight: bold;
}
.button:active{
    color: #ff80b3;
}
#session-settings{
    background-color: #66cc66;
}
#deepBot-settings{
    background-color: #66cc66;
}
#twitch-settings{
    background-color: #66cc66;
}
#twitter-settings{
    background-color: #66cc66;
}
